div .timeline__item-inner{
    text-align: center;
    border-width : 1;
}
.warp{
    display: inline-flex;
} 
.block img {
    border-radius: 6px;
    width: 450px;
    height: 350px;
    
}
.block {
    display: flex;
    flex-wrap: wrap;
}

/* style="width: 18rem;" */
/* div div{
} */